
  
 <% @myObject = Customer.all %>


 <%= form_with(model: @intervention, local: true) do |f| %>  
                
    <fieldset>
    

  
        
        
          
       
        <div class="row">
                
                    <!-- Drop Menu -->
                    <label for="customers">Choose a Customer: 	&nbsp;	&nbsp;</label>

                    <select onchange="selected_customer()" name="customer_id" id="customersDropMenu">
                    
                    <option value="select">--- Please Select ---</option>
                    <%= Customer.all.each do |custy| %>
                    
                    <option value="<%= custy.id %>"><%= custy.company_name %></option>

                    <% end %>
 

                    </select>
                 
                
        </div>
   
        
        
        <div class="row" style="visibility: hidden" id="step2">
                
        <!-- Drop Menu -->
        <label for="selectedBuilding">Select a Building: 	&nbsp;	&nbsp;</label>
        <select onchange="selected_building()" name="building_id" id="selectedBuilding" required="true">
     
                </select>
            
        </div>
                        
        <div class="row" style="visibility: hidden" id="step3">
                        
        <!-- Drop Menu -->
        <label for="selectedBattery">Select a Battery: 	&nbsp;	&nbsp;</label>
        <select onchange="selected_battery()" name="battery_id" id="selectedBattery" required="true">
                    


        </select>

        </div>


        <div class="row" style="visibility: hidden" id="step4">
                        
        <!-- Drop Menu -->
        <label for="selectedColumn">Select a Column: 	&nbsp;	&nbsp;</label>
        <select onchange="selected_column()" name="column_id" id="selectedColumn" required="true">
                    


        </select>

        </div>
        <div class="row" style="visibility: hidden" id="step5">
                        
        <!-- Drop Menu -->
        <label for="selectedElevator">Select a Elevator: 	&nbsp;	&nbsp;</label>
        <select onchange="selected_elevator()" name="elevator_id" id="selectedElevator" required="true">
                    


        </select>

       
        </div>
        <div class="row" style="visibility: hidden" id="step6">
                        
        <!-- Drop Menu -->
        <label for="employeeList">Select a Employee: 	&nbsp;	&nbsp;</label>
        <select onchange="selected_employee()" name="employee_id" id="employeeList" required="true">
                    


        </select>

        </div>

        <div class="row" style="visibility: hidden" id="step7">
		    
			<label for="contact:message">Message *</label>
			<%= f.text_area :report , class: "form-control", :required => true, rows: 8  %>
            
		</div>
		
        <div class="row" style="visibility: hidden" id="step8">
        
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>SUBMIT</button>
   				
		</div>

        
    </fieldset>

    
    <% end %>   