
<!-- Request Form -->
<section id="requestForm">
    <div class="container">

        <header class="text-center mb-60">
            <h2>Voice Recognition </h2>
            <p class="lead font-lato">Service </p>
            <hr />
        </header>


        
        <div class="row">
            <!-- FORM -->
            <div class="col-md-3">

                    <h3>1. Choose an option:<strong></strong></h3>

                <div class="row">
                    <div class="col-md-8">
                        <!-- Drop Menu -->
                        <label for="action">Action:</label>

                        <select onchange="mainFunction()" name="action" id="action">
                        <option value="select">--- Please Select ---</option>
                        <option value="register">Register</option>
                        <option value="identify">Identify</option>
                        <option value="text_to_speech">Transcribe</option>
                        </select>

                </div>
            </div>
        </div>  
        <div class="row" > 
            <div class="col-md-32" id="status" name="status" style="visibility:hidden">
            <h3>2. Check Status of Existing:<strong></strong></h3>
                <fieldset>
                <div class="row" >
                    <div class="col-md-12">
                    <label for="selected_user">Select a voice: 	&nbsp;	&nbsp;</label>
                    <select onchange="checkStatus(1)" name="selected_user" id="selected_user">

                    </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                    
                    <label for="statusInput">Status: &nbsp;	&nbsp;</label>
                    <input id="statusInput" name="statusInput" type="text" disabled class="form-control">
                    </div>

                </div>
        
                </fieldset>
            </div>
        </div>

            <div lass="col-md-16" id="multiSelect" style="visibility:hidden">
                <h3>2. Hold CTRL to select multiple:<strong></strong></h3>
                <select class="select" multiple style="width:150px">
                    <option value="1">Jake</option>
                    <option value="2">Arman</option>
                    <option value="3">Tyler</option>
                </select>
                <div class="select-custom-content">
                <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>
            </div>

        <div class="row"style="margin-left: 40px;"> 

            <div class="col-md-16" id="register" name="register" style="visibility:hidden">
            <h3>3. Register New:<strong></strong></h3>
                <fieldset>
                    <%= form_with url: "/register",method: :post do |f| %>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Drop Menu -->
                                <label for="username">Identification Name:</label>
                                <input id="username" name="username" type="text" class="form-control">
                            </div>
                        </div>
                        <div id="attachment" class="row">
                            <div class="col-md-12">
                                <%= f.label :upload, "Upload a File"%>

                                <!-- custom file upload -->
                                <%= f.file_field :upload,accept: 'audio/wav' ,class: 'custom-file-upload','data-btn-text' => 'Select a file'%>
                                <small class="text-muted block">Max file size: 10Mb (wave)</small>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Register Voice</button>
                            </div>
                        </div>
                    <% end %>
                </fieldset>
            </div>

        </div>  
        <div class="row"style="margin-left: 40px;"> 
            <div class="col-md-16" id="identify" name="identify" style="visibility:hidden">
            <h3>3. Register New:<strong></strong></h3>
                <fieldset>
                    <%= form_with url: "/identify",method: :post do |f| %>
                       
                        <div id="attachment" class="row">
                            <div class="col-md-12">
                                <%= f.label :upload, "Upload a File"%>

                                <!-- custom file upload -->
                                <%= f.file_field :upload ,accept: 'audio/wav',class: 'custom-file-upload','data-btn-text' => 'Select a file'%>
                                <small class="text-muted block">Max file size: 10Mb (wav)</small>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Register Voice</button>
                            </div>
                        </div>
                    <% end %>
                </fieldset>
            </div>
        </div>  
        

    </div>
            <!-- /FORM -->

    
</section>
<!-- /CONTACT -->
